@import "utilities/variables"; 
@import "utilities/mixins";
@import "utilities/mediaq/mqindex";
@import "utilities/mediaq/mqproductos";
@import "utilities/mediaq/mqcontacto";
@import "utilities/mediaq/mqcarrito";
@import "utilities/mediaq/mqnosotros";


body {
    background-image: url(../img/marmolado.jpg);

      ul li {
        list-style-type: none;
    }

    a{
        color: black;
        text-decoration: none;
    }
    .derechos {
        background-color: $color-secundario;
        text-align: center;
        a {
            color: black;
        }
    }
}

