/*index*/
//mobile
main {
    p {
        background-color: $color-secundario;
        margin: 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: $sombra;
        font-size: 20px;
    }

    .carousel-inner {
        box-shadow: $sombra;
    }

    header {

        p {
            font-size: 20px;
            text-align: center;
            background-color: $color-principal;
            border-radius: $border;
            box-shadow: $sombra;


        }

        h1 {
            font-size: 60px;
            background-color: $color-principal;
            margin: 30px;
            text-align: center;
            box-shadow: $sombra;
            border-radius: $border;
            font-family: 'Amatic SC', cursive;
            text-decoration: underline;
        }

        nav {
            
            
            ul {
                font-size: 25px;
                text-align: center;
                text-decoration: underline;
            }
        }



        .bg-propio {
            background-color: $color-principal;

        }



    }

    .sectionI {
        background-color: $color-secundario;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        box-shadow: $sombra;

        h2 {
            text-align: center;
            background-color: $color-principal;
            border-radius: $border;
            margin: 20px;
            box-shadow: $sombra;

        }
    }


}

footer {
    .containerF {

        grid-template-areas: "ubicacion redes pagos";
        grid-template-columns: 33% 33% 33%;
        display: grid;
        height: 210px;
        margin: 20px;
        justify-content: space-evenly;
        box-shadow: $sombra;

        strong {
            background-color: $color-principal;
            border-radius: 10px;
            text-align: center;
            display: block;
        }

        iframe {
            margin-top: 10px;
        }

        .ubicacion {
            grid-area: ubicacion;

        }

        .redes {
            grid-area: redes;
            margin-left: 35px;
            height: 20px;

            .imgIns {
                @include medidas (50px, 50px, 10px);


            }

            .imgF {
                @include medidas (50px, 50px, 10px);

            }

        }

        .pagos {
            grid-area: pagos;
            justify-self: end;
            height: 20px;

            .visa {
                @include medidas (50px, 50px, 10px);


            }

            .mae {
                @include medidas (50px, 50px, 10px);

            }

            .am {
                height: 50px;
                width: 50px;

                margin-left: 10px;
            }

        }

        .contacto {
            display: none;
        }

    }

}


@media screen and (min-width:768px) {
    main {



        .carousel-inner {
            height: 90%;

        }

        .sectionI {
            span {
                font-size: 20px;
            }

            h2 {
                font-size: 40px;

            }
        }
    }

    footer {

        .containerF {
            .redes {

                margin-left: 30px;
                margin-left: 100px;


            }

            .contacto {
                display: none;
            }

            .pagos {
                margin-right: 30px;
            }

            .ubicacion {
                margin-right: 30px;
                iframe {
                    margin-left: 30px;
                }
            }

            
        }

    }
}

@media screen and (min-width:1024px) {
    main {
        header {
            h1 {
                font-size: 80px;
                margin: 30px;
                display: inline-block;
                text-align: start;
            }

            p {
                margin: 50px;
                font-size: 30px;
            }

            nav {
                
                margin-top: 50px;
               
                ul {
                   
                    li:hover {
                        margin: 10px;
                        padding: 1px;
                            font-weight: bold;
                        
                        
                    }


                }
            }
        }

        p {
            font-size: 28px;
            margin: 50px;

        }
    }

    footer {
        .containerF {


            grid-template-areas: "ubicacion contacto redes pagos";
            grid-template-columns: 25% 25% 25% 25%;
            height: 250px;

            .ubicacion {
                grid-area: ubicacion;

                iframe {
                    margin-left: 30px;
                }
            }

            .contacto {
                display: inline-block;
                box-shadow: none;
                margin-left: 80px;
                grid-area: contacto;

                .imgX {
                    height: 60px;
                    width: 60px;
                    margin: 10px;
                }

            }

            .pagos {
                grid-area: pagos;
                width: 70%;
                strong{
                    margin-left: 20px;
                }
                
                

                ul {

                   
                    li {
                        display: flex;
                        justify-content: center;
                                             

                        .visa {
                            height: 60px;
                            width: 60px;


                        }

                        .mae {
                            height: 60px;
                            width: 60px;

                        }

                        .am {
                            height: 60px;
                            width: 60px;

                        }
                    }
                }
            }

            .redes {
                grid-area: redes;
            }
        }


    }

}


/*nosotros*/
//mobile
main {
    .quienes {
        text-align: center;
        background-color: $color-principal;
        margin: 2rem;
        border-radius: $border;
        box-shadow: $sombra;

    }

    div {
        .containerImg {

            .local {
                border-radius: $border;
                width: 100%;
                box-shadow: $sombra
            }

        }
    }
}







/*productos*/
//mobile
main {
    .containerP {
        .imgT {
            height: 100%;
            width: 100%;
        }

        @include grid (grid, 20px, 20px);

        border-radius:$border;
        gap: 4rem;
        justify-content: center;
        grid-template-areas: "imgP1 imgP2"
        "pp1  pp2"
        "imgP3  imgP4"
        "pp3  pp4";

        .imgP1 {
            grid-area: imgP1;
            border-radius: $border;
            box-shadow: $sombra;
        }

        .pp1 {
            grid-area: pp1;

        }

        .imgP2 {
            @extend .imgP1;
            grid-area: imgP2;
        }

        .pp2 {
            grid-area: pp2;

        }

        .imgP3 {
            @extend .imgP1;
            grid-area: imgP3;
        }

        .pp3 {
            grid-area: pp3;

        }

        .imgP4 {
            @extend .imgP1;
            grid-area: imgP4;
        }

        .pp4 {
            grid-area: pp4;
        }
    }
}

@media screen and (min-width:1024px) {

    main {

        .containerP {

            @include grid (grid, 20px, 20px);
            grid-template-columns: 20% 20% 20% 20%;
            grid-template-areas: "imgP1 imgP2 imgP3 imgP4"
                "pp1  pp2   pp3   pp4";

            background-color: $color-secundario;
            border-radius: 20px;
            height: 700px;

            .imgP1 {
                grid-area: imgP1;


            }

            .pp1 {
                grid-area: pp1;


            }

            .imgP2 {
                grid-area: imgP2;

            }

            .pp2 {
                grid-area: pp2;
                width: max-content;

            }

            .imgP3 {
                grid-area: imgP3;


            }

            .pp3 {
                grid-area: pp3;
                width: max-content;

            }

            .imgP4 {
                grid-area: imgP4;

            }

            .pp4 {
                grid-area: pp4;


            }

        }
    }

}

/*mobile*/
//contacto
main {
    .divP2 {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "formulario redes";
        justify-content: space-evenly;
        background-color: $color-secundario;
        border-radius: 20px;
        margin: 3px;
        margin-top: 20px;


        .containerFr {

            width: 100%;
            margin-left: 50px;
            grid-area: formulario;
            height: 100%;
            margin: 1rem;

            .tamañoF {
                width: 100%;

            }

            fieldset {
                background-color: $color-principal
            }


        }

        .redesContacto {
            grid-area: redes;

            h2 {
                margin-bottom: 30px;
                margin-left: 2rem;

            }

            ul {
                .fb {
                    height: 60px;
                    width: 60px;
                    margin-left: 2rem;
                    margin-top: 40px;


                }

                .ins {
                    height: 60px;
                    width: 60px;

                    margin-left: 2rem;

                }

            }
        }
    }
}

@media screen and (min-width:768px) {
    main {
        .divP2 {
            font-size: 25px;

            .redesContacto {
                h2 {

                    margin-left: 6rem;
                    background-color: $color-principal;
                    display: inline;

                }

                ul {
                    margin-top: 50px;

                    li {

                        .fb {
                            height: 80px;
                            width: 80px;
                            margin-left: 6rem;



                        }

                        .ins {
                            height: 80px;
                            width: 80px;
                            margin-left: 6rem;


                        }
                    }

                }
            }

        }
    }

}

@media screen and (min-width:1024px) {
    main {
        .divP2 {
            .containerFr {
                width: 30rem;
            }

            .redesContacto {
                margin-top: 1rem;

                h2 {

                    margin-left: 8rem;

                }

                ul {
                    li {
                        .fb {
                            height: 100px;
                            width: 100px;
                            margin-left: 8rem;
                            margin-top: 80px;

                        }



                        .ins {
                            height: 100px;
                            width: 100px;
                            margin-left: 8rem;


                        }
                    }
                }
            }
        }
    }
}

/*carrito*/
//mobil
main {
    .containerTodo {
        .container1F {
            text-align: center;
            background-color: $color-principal;
            border-radius: $border;
            margin-top: 1rem;
            font-size: 20px;

        }

        .form1 {
            display: flex;
            justify-content: center;


            form {
                background-color: $color-principal;
                font-size: 25px;
                border-radius: $border;
                box-shadow: $sombra;

                fieldset {
                    legend {
                        text-align: center;
                        font-size: 30px;

                    }

                    div {
                        .botones {
                            margin: 10px;

                        }

                        .botones:hover {
                            background-color: burlywood;
                        }


                    }
                }
            }
        }

        .container2F {
            @extend .container1F;

        }

        .form2 {
            @extend .form1;

        }

        .paso3 {
            @include formulario(25px, $color-principal, 1rem, center, $border, $sombra)
        }

        .paso4 {
            @include formulario(25px, $color-principal, 1rem, center, $border, $sombra)
        }
    }
}