/*carrito*/
//mobil
main {
    .containerTodo {
        .container1F {
            text-align: center;
            background-color: $color-principal;
            border-radius: $border;
            margin-top: 1rem;
            font-size: 30px;

        }

        .form1 {
            display: flex;
            justify-content: center;


            form {
                background-color: $color-principal;
                font-size: 25px;
                border-radius: $border;
                box-shadow: $sombra;

                fieldset {
                    legend {
                        text-align: center;
                        font-size: 30px;

                    }

                    div {
                        .botones {
                            margin: 10px;

                        }

                        .botones:hover {
                            background-color: burlywood;
                        }


                    }
                }
            }
        }

        .container2F {
            @extend .container1F;

        }

        .form2 {
            @extend .form1;

        }

        .paso3 {
            @include formulario(25px, $color-principal, 1rem, center, $border, $sombra);
            
        }

        .paso4 {
            @include formulario(25px, $color-principal, 1rem, center, $border, $sombra);
        }
    }
}