@mixin medidas ($height, $widht, $margin) {
    height: $height;
    width: $widht;
    margin: $margin;
    
}
@mixin grid ($grid, $padding, $margin){
    display:$grid;
    padding: $padding;
    margin: $margin;
}
@mixin formulario ($size, $back-c, $mg-t,$text-aling,$border,$sombra){
    font-size: $size;
    background-color: $back-c;
    margin-top: $mg-t;
    text-align: $text-aling;
    border-radius: $border;
    box-shadow: $sombra;
}